/* Style global pour le body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pour centrer la page */
}

/* Barre de navigation */
.navbar {
    padding: 10px 0;
    background-color: #222;
    border-bottom: 4px solid #ff0000;
    width: 100%;
    position: fixed;
    top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px; /* Taille du logo ajustée */
    height: auto;
    object-fit: contain; /* Assure que l'image est bien contenue */
    border: 2px solid #fff; /* Bordure autour du logo */
    border-radius: 10px; /* Rectangle pour le logo */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: #ff4500;
}

/* En-tête */
header {
    text-align: center;
    padding: 80px 20px 40px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Introduction */
.intro-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.intro-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
}

.intro-content button:hover {
    background-color: #ff6347;
}

/* Sections de services */
.services-section, .additional-info, .description {
    text-align: center;
    padding: 40px 20px;
}

.services-section h2, .additional-info h3, .description h3 {
    font-size: 2rem;
}

/* Service Item */
.service-item {
    text-align: center;
    margin-top: 20px;
}

.service-item img {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    background-color: #222;
    color: #fff;
    border-top: 4px solid #ff0000;
}
